<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Advance Student Report System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item m-2">
          <a class="nav-link" routerLinkActive="active" routerLink="/report">Student Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-danger m-2" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>School Name</th>
        <th>School Average</th>
        <th
          *ngFor="let subject of schoolAverages[0]?.subjectAverage | keyvalue"
        >
          {{ subject.key }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let school of schoolAverages">
        <td>{{ school.schoolName }}</td>
        <td>{{ school.schoolAverage }}</td>
        <td *ngFor="let subject of school.subjectAverage | keyvalue">
          {{ subject.value }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
