<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand">Advance Student Report System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item m-2">
            <a class="nav-link" routerLinkActive="active" routerLink="/report">Student Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-danger m-2" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="card m-2 p-2">
        <div class="card-body">
            <h5 class="card-title">Student Data</h5>
            <p class="card-text"><strong>Student Name:</strong> {{ student.studentName }}</p>
            <p class="card-text"><strong>School Name:</strong> {{ student.schoolName }}</p>
            <p class="card-text"><strong>Class Name:</strong> {{ student.className }}</p>
            <p class="card-text"><strong>Session:</strong> {{ student.session }}</p>
            <h6 class="card-subtitle mb-2 text-muted"><strong>Marks:</strong></h6>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let mark of student.marks">
                    <strong>Subject Name:</strong> {{ mark.subjectName }}
                    <br>
                    <strong>Marks:</strong> {{ mark.marks }}
                </li>
            </ul>
            <p class="card-text"><strong>Average Marks:</strong> {{ calculateAverageMarks() }}</p>
        </div>
    </div>

    <div class="card m-2 p-2">
        <div class="card-body">
            <h5 class="card-title">Topper's Data</h5>
            <p class="card-text"><strong>Student Name:</strong> {{ topper.studentName }}</p>
            <p class="card-text"><strong>School Name:</strong> {{ topper.schoolName }}</p>
            <p class="card-text"><strong>Class Name:</strong> {{ topper.className }}</p>
            <p class="card-text"><strong>Session:</strong> {{ topper.session }}</p>
            <h6 class="card-subtitle mb-2 text-muted">Marks:</h6>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let mark of topper.marks">
                    <strong>Subject Name:</strong> {{ mark.subjectName }}
                    <br>
                    <strong>Marks:</strong> {{ mark.marks }}
                </li>
            </ul>
        </div>
    </div>
</div>