<div class="container mt-5 mb-3">
  <div class="row justify-content-center">
    <h1 style="text-align: center" class="mb-3">Student data</h1>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Upload csv file containing student marks</div>
        <div class="card-body">
          <form (submit)="onSubmit()" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="file" class="form-label">Choose File</label>
              <input
                type="file"
                class="form-control"
                (change)="selectFile($event)"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Upload File</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container m-auto">
  <div class="m-auto" style="display: block; width: 800px;">
    <canvas
      baseChart
      class="chart"
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="barChartType"
    >
    </canvas>
  </div>
</div>
<div class="container">
  <button type="submit" class="btn btn-primary" (click)="getUserReport()">
    Get Upload data
  </button>
</div>
<div class="container">
  <h2>School Information</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Class Name</th>
        <th>ID</th>
        <th>Record Count</th>
        <th>School Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of responseUploadData">
        <td>{{ item.className }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.recordCount }}</td>
        <td>{{ item.schoolName }}</td>
        <td>{{ item.username }}</td>
      </tr>
    </tbody>
  </table>
</div>
